.App {
  text-align: center;
}
.container{
  background-color: #ddebed; /* Dark background color */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: auto;
}


.image-container {
  display: flex;
  justify-content: flex-end; /* Move items to the right */
  align-items: center; /* Vertically align items */
  margin: 0 auto;
  box-shadow: 20px 20px 40px rgba(1, 158, 220, 0.2);
  max-width: 800px; /* Adjust the max-width as needed */
  padding: 10px;
  flex-direction: column;
}

.text-container {
  padding: 20px;
  text-align: left;
}

.heashot{
  background-color: #06d3fc; /* Dark background color */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: auto;
  display: flex;
}

.particles{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left: 0;
  z-index:-1
}

.button{
  padding: 10px;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;

}
.image-container img {
  margin-bottom: 10px; /* Add some space between the image and the button */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0bf81f;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar a {
  color: #000000; /* White text color */
  text-decoration:none;
  color: black;
  font-weight: 500; /* Adjust font weight as needed */
}

.vertical-navbar{
  display: flex;
  flex-direction: column;
}
.navbar a:hover {
  background-color: #ece2e2; /* Slightly darker background on hover */
  text-decoration: underline;
}

.navbar .dropdown-toggle:focus + .dropdown-menu {
  display: none;
}
.navbar {
 transition: background-color 0.3s, text-decoration 0.3s;

}


